<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet"> 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/app.js" defer></script>
</head>
<body>
    <nav class="navbar">

       
        <div class="nav-container">
            <div class="logo">
                <a href="/"> <img src="/images/logo.png" alt="logo"></a> 
        </div> 
      
               
              
                    <div class="navlist">
                        <ul>
                    
                    <% if(currentUser){%>
                        <li><a href="#menu">Menu</a></li>
                    <li><a href="#">Offers</a></li>
                   
                    <li><a href="/logout">Logout</a></li>
                    <li> 
                        <a href="/cart"><img class="cart" src="/images/cart.png" alt=""></a></li>
                   <% } else {%>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">login</a></li>
                    <li>
                        <a  href="/cart"><img  class="cart" src="/images/cart.png" alt=""></a></li>
                   <%}%>

                   
                </ul>
            </div>
             
               
            
           

        </div>
    </nav>
    <section class="hero">
        <div class="hero-container">
            <div class="left">
                    <h2>Are You Hungry</h2>
                    <h1>Don't Wait !</h1>
                    <div class="orderbtn">
                        <a class="order" href="#">Order Now</a>
                    </div>
                   


            </div>
            <div class="right">
               
                <img class="heropizza"
                src="/images/hero-pizza.png" alt="">


            </div>
        </div>
    </section>
    <section class="menu" id="menu">
        
        <h1 style="text-align: center; margin-top: 25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">All Pizzas</h1>
        
        <div class="pizzacontain">
            

            <% pizza.forEach((menu)=>{ %>


                <div class="wrapper">
                    <img src="/images/<%=menu.image%>" height="180px" width="180px" alt="">
                    <h2 style="margin-top: 18px; margin-left: 25px; font-family: 'Lato', sans-serif;"><%=menu.name%></h2>
                    <div class="small" style="margin-top: 17px; margin-left: 46px;">  <span style="background: #F8F8F8; padding: 7px 10px; border-radius: 9px; font-size: 19px;"><%=menu.size%></span>
        
                    </div>
                  
                    <div class="addcart">
                        <h4 style="margin-top: 5px;">₹<%=menu.price%></h4>
                        <button class="addtocart" data-user="<%=currentUser%>" data-pizza="<%=JSON.stringify(menu)%>" style="margin-left: 68px;  ; border: 2px solid #FE5F1E; background: white; color:#FE5F1E; border-radius: 19px; padding:3px 20px; font-size: 15px;">
                           +  Add
                        </button>
                    </div>
                </div>
          <%  }) %>
      
</div>
    
    </section>
   
</body>
</html>